/* stylelint-disable-next-line selector-class-pattern */
.post-type-archive-ca_exhibit {
  .banner {
    @apply z-50 fixed top-0 left-0;
  }

  #app {
    @apply h-screen;
  }

  .exhibits-container {
    @apply relative overflow-hidden h-screen w-screen;
  }

  .exhibits {
    z-index: 0 !important;
    transform: none !important;
  }

  .exhibit {
    &__infos {
      @apply z-10 opacity-0 transition-opacity duration-300;
    }

    &__inner {
      &::after {
        @apply absolute left-0 top-0 w-full h-full bg-black opacity-0 duration-300 ease-in-out;

        content: "";
      }

      &:hover {
        &::after {
          @apply opacity-50;
        }

        .exhibit__infos {
          @apply opacity-100;
        }
      }
    }
  }

  &.layout-grid {
    .exhibits {
      @apply min-w-[300vw] overflow-visible;
    }

    .exhibit {
      @apply order-none p-[15%];

      &__area {
        @apply hidden;
      }
    }
  }

  &.layout-list {
    .main {
      @apply overflow-visible h-auto;
    }

    .exhibits-container {
      @apply overflow-visible h-auto pt-40;
    }

    .exhibits {
      @apply max-w-[100vw] relative w-full flex flex-col overflow-visible h-auto;

      left: 0 !important;
      top: 0 !important;
      min-width: auto !important;

      &__title {
        @apply relative px-4 md:px-8 2xl:px-16;
      }
    }

    .exhibit {
      @apply p-0 relative w-full px-4 md:px-8 2xl:px-16;

      &__image {
        @apply hidden;
      }

      /* stylelint-disable-next-line no-descending-specificity */
      &__infos {
        @apply opacity-100 border-b border-white w-full leading-none py-6 text-[2rem] relative text-left translate-x-0 translate-y-0 top-auto left-auto;
      }

      a {
        @apply w-full;
      }

      &__inner {
        @apply w-full;

        transform: none !important;
      }

      &__title {
        @apply w-auto text-[2rem] leading-none;
      }
    }
  }

  .content-info {
    @apply hidden;
  }

  .switches {
    @apply rounded-full p-3 gap-x-1;
  }

  .switch {
    @apply flex items-center gap-x-2 py-5 px-6 rounded-full duration-300 ease-in-out;

    svg {
      @apply duration-300 ease-in-out;
    }

    &.is-active {
      @apply bg-black text-white;

      svg {
        @apply fill-white;
      }
    }
  }
}
