/* stylelint-disable-next-line selector-class-pattern */
.post-type-archive-ca_exhibit {
  .banner {
    @apply z-50 fixed top-0 left-0;
  }

  #app {
    @apply h-screen;
  }

  .exhibits-container {
    @apply relative overflow-hidden h-screen w-screen;
  }

  .exhibits {
    z-index: 0 !important;
    transform: none !important;
  }

  .exhibit {
    &__title {
      @apply z-10 opacity-0 duration-300;
    }

    &__inner {
      &::after {
        @apply absolute left-0 top-0 w-full h-full bg-black opacity-0 duration-300 ease-in-out;

        content: "";
      }

      &:hover {
        &::after {
          @apply opacity-50;
        }

        .exhibit__title {
          @apply opacity-100;
        }
      }
    }
  }

  &.layout-grid {
    .exhibits {
      @apply min-w-[300vw] overflow-visible;
    }
  }

  &.layout-list {
    .main {
      @apply overflow-visible h-auto;
    }

    .exhibits-container {
      @apply overflow-visible h-auto pt-40;
    }

    .exhibits {
      @apply max-w-[100vw] overflow-visible h-auto;

      left: 0 !important;
      top: 0 !important;

      &__title {
        @apply relative;
      }
    }

    .exhibit {
      @apply p-0;

      &__image {
        @apply hidden;
      }
    }
  }

  .content-info {
    @apply hidden;
  }

  .switches {
    @apply rounded-full p-3 gap-x-1;
  }

  .switch {
    @apply flex items-center gap-x-2 py-5 bg-black text-white px-6 rounded-full;

    svg {
      @apply fill-white;
    }
  }
}
