html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased font-sans bg-black text-white;

  scroll-behavior: smooth;
}

#app {
  @apply relative;
}

.main {
  @apply overflow-hidden;
}

em {
  @apply font-serif font-bold;

  font-style: normal;
}
